.title-name {
  color: #E89242FF;
  text-align: center;
  margin-top: 20px;
}

.locations {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
  width: 100%;
  max-width: 1200px;
}

.location-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.2s;
  text-align: center;
}

.location-item:hover {
  transform: scale(1.02);
}

.location-item h3 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.location-item p {
  margin: 5px 0 0;
  color: #666;
}
