.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  padding: 10px 20px;
  text-align: center;
  color: white;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0;
  padding: 0;
}

.nav ul li button {
  background: none;
  border: none;
  color: #61dafb;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
  outline: none;
}

.nav ul li button:hover {
  color: #69C8ECFF;
}

.header-image {
  max-width: 150px;
  height: auto;
}
