.title-name {
    color: #E89242FF;
    text-align: center;
    margin-top: 20px;
  }

.personagem-detalhes {
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid black; 
  border-radius: 8px; 
  color: black;
}

.character-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.character-details {
  flex: 1;
  margin-right: 20px;
}

.character-image {
  flex: 0 0 200px; 
}

.character-image img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.episode-section {
  margin-top: 20px;
  border: 2px solid black; 
  border-radius: 8px; 
  padding: 10px; 
}

.episode-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.episode-section ul {
  list-style: none;
  padding: 0;
}

.episode-section ul li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
    padding: 5px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    background-color: #fff;
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #61dafb; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
