.personagens {
    padding: 20px;
    text-align: center;
  }
  
  .personagens h2 {
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  