.personagens {
  padding: 20px;
}

.title-name {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-name{
  color: #E89242FF;
}
  